@page
@model Project.Pages.Admin.StaffAccount.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.RealName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.RealName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.Permissions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.Permissions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.NormalizedUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.NormalizedUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.NormalizedEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.NormalizedEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.SecurityStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.SecurityStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.ConcurrencyStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.ConcurrencyStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.LockoutEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.LockoutEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.LockoutEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.LockoutEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.AccessFailedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.AccessFailedCount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="StaffAccount.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
