@page
@model Project.Pages.Admin.Permissions.Role.EditModel

@{
    ViewData["Title"] = "Edit";
}
<br>
<h1>Edit</h1>
<br>
<h4>Role</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Role.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Role.Name)
    </dd>
</dl>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Permissions.Count > 0)
            {
                <br>
                <span asp-validation-for="SelectedPermissions" class="text-danger"></span>
                <table class="table form-group">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Permissions)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0, selectedPermissionsIndex = 0; i < Model.Permissions.Count; i++)
                        {
                            <tr>
                                <td>
                                    <label class="control-label">@Html.DisplayFor(m => m.Permissions[i])</label>
                                </td>
                                <td>
                                    @{
                                        var isChecked = selectedPermissionsIndex < Model.SelectedPermissions.Count
                                        && Model.SelectedPermissions[selectedPermissionsIndex] == i;
                                        if (isChecked) { selectedPermissionsIndex++; }
                                    }
                                    <input type="checkbox" name="SelectedPermissions" value="@i" class="form-check-input" checked=@isChecked />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
