@page
@model Project.Pages.Category.ViewModel
@{
    ViewData["Title"] = $"Category - {Model.MovieCategory.Name}";
}
<br />
<h1>@Html.DisplayFor(model => model.MovieCategory.Name)</h1>
<br />
<h4>Movies</h4>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <a asp-page="/Movie/Watch" asp-route-id="@item.Id">Watch</a>
                </td>
            </tr>
        }
    </tbody>
</table>
